{erl_opts, [
%%     no_debug_info,
    native,
    {hipe, o3},
    fail_on_warning
]}.

{deps, [
    {cowboy, ".*", {git, "git://github.com/ninenines/cowboy.git", {tag, "master"}}},
    {mochiweb, ".*", {git, "git://github.com/mochi/mochiweb.git", {tag, "master"}}},
    {proper, {git, "git://github.com/manopapad/proper.git", {tag, "master"}}}
]}.

{relx, [
    {release,
        {
            p_erlang, %% app-name-marker
            "0.1.0" %% release-version-marker
        },
        [
            sasl,
            p_erlang,
            {observer, load}, % Allow live debugging of server
            {wx, load}, % Required by observer
            {runtime_tools, load} % Required by observer
        ]
    },
    {dev_mode, false},
    {include_erts, true},
    {system_libs, false},
    {extended_start_script, true},
    {vm_args, "config/vm.args"},
    {sys_config, "config/sys.config"},
    {overlay, [
        {mkdir, "logs/sasl"}
    ]}
]}.

{minimum_otp_vsn, "18.1"}.