{erl_opts, [
    fail_on_warning
]}.

{deps, [
    {cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git", {tag, "2.6.3"}}},
    {mochiweb, ".*", {git, "https://github.com/mochi/mochiweb.git", {tag, "2.20.0"}}},
    {proper, {git, "https://github.com/manopapad/proper.git", {tag, "v1.3"}}}
]}.

{relx, [
    {release,
        {
            p_erlang,
            "0.1.0"
        },
        [
            sasl,
            p_erlang,
            {observer, load}, % Allow live debugging of server
            {wx, load}, % Required by observer
            {runtime_tools, load} % Required by observer
        ]
    },
    {dev_mode, false},
    {include_erts, true},
    {system_libs, false},
    {extended_start_script, true},
    {vm_args, "config/vm.args"},
    {sys_config, "config/sys.config"},
    {overlay, [
        {mkdir, "logs/sasl"}
    ]}
]}.

{minimum_otp_vsn, "20.0"}.