[
    {kernel,
        [
            {
                logger,
                [
                    {
                        handler,
                        info,
                        logger_std_h,
                        #{
                            config =>
                            #{
                                type => standard_io
                            }
                        }
                    },

                    {
                        handler,
                        default,
                        logger_std_h,
                        #{
                            level => info,
                            config =>
                            #{
                                type => {file, "log/stdout.log"}
                            }
                        }
                    }
                ]
            }
        ]
    }
].